nav.navigation
    ul
        li
            a(href='ссылка' class='#')
        
        li
            a(href='ссылка' class='#')
        li 
            a(href='ссылка' class='#')
        li 
            a(href='ссылка' class='#')
        li 
            a(href='ссылка' class='#')